@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-img {
    height: 100%;
    background-image: url("/tile.jpg");
    background-size: auto;
    background-repeat: repeat;
  }

  .app-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    border: 5px solid yellow;
  }

  .image-box {
    display: flex;
    height: 90vh;
    border: 2px solid orange;
  }

  .about-background {
    min-height: 100%;
    box-shadow: inset 100em 100em rgba(255, 255, 255, 0.5);
  }
}
