@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-img {
    min-height: 100%;
    box-shadow: inset 100em 100em rgba(255, 255, 255, 0.6);
    background-image: url("/background.jpg");
    background-position: 10% 75%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .app-container {
    flex: 0.5;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }

  .about-background {
    min-height: 100%;
    box-shadow: inset 100em 100em rgba(255, 255, 255, 0.5);
  }
}
